<p class="text-center">
  Les informations présentées sur ce site sont des données récupérées sur le site de <a href="http://www.cic.gc.ca/francais/travailler/eic/selection.asp">l'immigration du Canada</a> et mises en formes par un particulier.<br>
  Elles ne peuvent donc en aucun cas faire foi auprès de l'immigration canadienne.
</p>
<p class="text-center text-muted">© Copyright 2017 François Belle - francois@francoisbelle.com</p>