<select name="select" id="country-select">
  <% locations.forEach(function(location) { %>
    <option value="/?location=<%= location %>"> <%= location %> </option>
  <%})%>
</select>

<script>
  document.getElementById("country-select").onchange = function() {
    window.location.href = window.location.origin + this.value;
  };
  // Set value of select to currently selected item
  var elem = document.getElementById("country-select");
  elem.value = '/' + window.location.search.split("&")[0]
</script>