<!-- Stats for a subcategory
'stat' variable can be used and contains:
{ location: 'France',
  category: 'coop',
  code: 'fr',
  quota: '4 800',
  first: 'du 28 novembre 2016 au 3 décembre 2016',
  second: 'à déterminer',
  invitations: '1 015',
  candidates: '169',
  spots: '4 782',
  chances: '1' } -->

<div class="row">
  <%= stat.quota %>
</div>
